{% extends 'main/base.html' %}
{% load static %}

{% block title %} My Certificates {% endblock %}

{% block content %}
<div id="main">
    <section id="one">
        <h2>My Certificates</h2>
        <div class="row">
            {% for c in certificates|dictsort:'date' reversed %}
            {% if c.is_active %}
            <article class="col-6 col-12-xsmall work-item">
                <img src="{{c.image.url}}" alt="" height="400" width="400" />
                <h3>{{c.name|title}}</h3>
                <h5>{{c.title}}</h5>
                <p>{{c.date.date}}</p>
            </article>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}