<!-- {% load static %}

<section id="three">
    <h2 id="contactme">Get In Touch</h2>
    <p>Hello! If you want to contact me or want to provide feedback about my work, you can send a message via the column listed or the contact provided below. Thank You!</p>
    <div class="row">
        <div class="col-8 col-12-small">
            <form id="contactForm" method="post" action="/">
                {% csrf_token %}
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" />{{form.name}}</div>
                    <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" />{{form.email}}</div>
                    <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea>{{form.message}}</div>
                </div>
            </form>
            <form id="contactForm" method="POST" action="/contact/">
                {% csrf_token %}
                    <label for="name">Name</label>
                    {{form.name}}
        
                    <label for="email">Email</label>
                    {{form.email}}
        
                    <label for="subject">Message</label>
                    {{form.message}}
        
                    <input class='btn btnPrimary' type="submit" value="Submit">
                </form>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </div>
        <div class="col-4 col-12-small">
            <ul class="labeled-icons">
                <li>
                    <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
                    H. Liun Street No. 86a Petukangan Utara, Pesanggrahan, Jakarta Selatan, 12260
                </li>
                <li>
                    <h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
                    +62 851 5632 5387
                </li>
                <li>
                    <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                    faishalprtm@gmail.com
                </li>
            </ul>
        </div>
    </div>
</section> -->